@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.ttf) format('ttf');
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
header {
    background-image: linear-gradient(173deg, #22313F 58%, #ffffff calc(58% + 1px));
    display: flex;
    justify-content: center;
    /* height: 33%; */
    max-height: 35%;
    flex: 1;
}

.headerContent {
    margin: 25px;
    display: flex;
    justify-content: center;
    color: white;
    width: 80%;
}

.profilePic {
    width: 25%;
    height: auto;
    z-index: 1;
}

.aboutMeContainer {
    width: 40%;
    align-self: center;
    background-color: white;
    color: black;
    padding: 15px;
    box-shadow: 1px 1px 12px black;
}
.aboutMeContainer > .socials {
    display: flex;
    justify-content: end;
}
.myProjects {
    max-width: 80%;
    margin-bottom: 35px;
    margin-top: 35px;
    flex: 1;
}

.myProjects > h2 {
    padding-left: 16px;
}

.projectCards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.projectCards > div {
    max-width: 30%;
    margin: 10px;
    box-shadow: 1px 1px 12px gray;
}
.projectImg {
    width: 100%;
}
.projectInfo {
    padding-left: 10px;
    padding-right: 10px;
}
h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projectLinks {
    width: 20px;
}
.projectLinks:hover, .socialLinks:hover {
    transform: scale(1.1);
}
.projectLinks:active, .socialLinks:active {
    transform: scale(0.9);
}
img {
    width: 28px;
}

.footerInfo {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.footerImg {
    max-width: 15%;
    width: auto;
}

.contactInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
}
footer {
    color: white;
    width: 100%;
    /* height: 33%; */
    background-color: #22313F;
    display: flex;
    justify-content: center;
    flex: 1;
    padding-bottom: 10px;
    padding-top: 10px;
}

.emailInfo, .phoneNum {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        justify-content: space-between;
    }
    header {
        height: fit-content;
    }
    .headerContent {
        flex-direction: column;
        width: 350px;
    }
    .profilePic {
        width: 350px;
    }
    .aboutMeContainer {
        box-shadow: none;
        width: 350px;
        font-size: 32px;
        text-align: center;
    }
    .myProjects {
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }
    .projectCards {
        flex-direction: column;
        width: 100%;
    }
    .projectCards > div {
        max-width: 80%;
        margin: 10px;
        box-shadow: 1px 1px 12px gray;
    }
    footer {
        padding-bottom: 0;
    }
    .footerInfo {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .contactInfo {
        width: 90%;
        padding: 10px;
        font-size: 22px;
        text-align: center;
        justify-content: center;
    }
    .footerImg {
        max-width: 100%;
    }
}